<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia Cole-contacto</title>
    <link rel="shortcut icon" href="/img/icom/favicon-16x16.png"/>
    <script src="https://kit.fontawesome.com/5db5054929.js" crossorigin="anonymous"></script>
</head>
<body>
    <header id="top">
      
        <nav>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="about">ABOUT</a></li>
            <li><a href="music">MUSIC</a></li>
            <li><a href="contact">CONTACT</a></li>
        </ul>
        
        </nav>
        <ul>
            <li><a href="https://twitter.com/?lang=es" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
            <li><a href="https://www.facebook.com/?locale=es_LA" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="https://www.spotify.com/ar/intl-es/" target="_blank"><i class="fa-brands fa-spotify"></i></a></li>
            <li><a href="https://www.apple.com/la/" target="_blank"><i class="fa-brands fa-apple"></i></a></li>
            <li><a href="https://www.amazon.com/-/es/" target="_blank"><i class="fa-brands fa-amazon"></i></a></li>
            <li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
        </ul>
            </header> 
            <section>
                <h1>CONTAC //</h1>
                <h5>WE ARE HERE</h5>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d158858.182370726!2d-0.10159865000000001!3d51.52864165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondres%2C%20Reino%20Unido!5e0!3m2!1ses-419!2sar!4v1697040863746!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" ></iframe>
            
            </section>
            <section>
                <h4>CONTAC INFO</h4>
                <article>
                <h5>MANAGEMENT | Karen Blanche</h5>
                <a href="mailto:info@mysite.com">email:info@mysite.com</a><br>
                <a href="tel:123-456-7890">phone: 123-456-7890</a>
                </article><br>
                <article>
                    <h5>BOOKING | Daniel Ku</h5>
                    <a href="mailto:info@mysite.com">email: info@mysite.com</a><br>
                    <a href="tel:123-456-7890">phone: 123-456-7890</a>
                    
                </article>
                <article>
                    <h5 >LABEL | Wix Records, Jake Coldman</h5>
                    <a href="mailto:info@mysite.com">email: info@mysite.com</a><br>
                    <a href="tel:123-456-7890">phone: 123-456-7890</a>
                    
                </article>
                <article>
                    <h5>PR | That Girl Pr, Sarah Brookstone</h5>
                    <a href="mailto:info@mysite.com">email: info@mysite.com </a><br>
                    <a href="tel:123-456-7890">phone: 123-456-7890</a>
                </article>
                
    

            </section>

</body>
</html>